extends layout


block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message

      
        .card
          .card-block
            h4
              p= locations.title  
            p.address= locations.content
            

    .col-12.col-md-4 
      p.lead= sidebar